{% extends "news/main.html" %}
{% block content %}
<h2>Science news</h2>
    <hr />
    <div class="scrollmenu">
      {% for headline in science %}

      <a href="/summarize/science/{{headline.id}}">
        <div class="container">
          <img src="{{headline.image}}" alt="Nature" style="width: 100%" />
          <div class="content">
            <p class="hl">{{headline.name}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <hr />
{% endblock content %}